<div class="container">
  <div
    fxLayout="row warp"
    fxLayoutGap="16px grid"
    style="background-color: black"
  >
    <div fxFlex="80" [fxFlex.lt-sm]="100">
      <div
        fxLayout="row wrap"
        fxLayoutGap="16px grid"
        fxLayoutAlign="space-between start"
      >
        <div
          [fxFlex.lt-sm]="50"
          [fxFlex.gt-xs]="50"
          [fxFlex.gt-md]="20"
          [fxFlex.gt-sm]="25"
        >
          <h2>IFNOMATION</h2>
          <a href="#" rel="nofollow">Advertising</a><br />
          <a href="#" rel="nofollow">Contact Us</a><br />
          <a href="#" rel="nofollow">Privacy &amp; Cookies Policy</a> <br />
          <a href="#" rel="nofollow">Terms &amp; Conditionss </a><br />
        </div>
        <div
          [fxFlex.lt-sm]="50"
          [fxFlex.gt-xs]="50"
          [fxFlex.gt-md]="20"
          [fxFlex.gt-sm]="25"
        >
          <h2>Fashion &amp; Style</h2>
          <a href="#">Mens Fashion</a><br />
          <a href="#">Mens Style</a><br />
          <a href="#">Mens Grooming</a><br />
          <a href="#">Best Mens Watches</a><br />
          <a href="#">Discount Codes</a><br />
          <a href="#">Clothing Sales</a><br />
        </div>
        <div
          [fxFlex.lt-sm]="50"
          [fxFlex.gt-xs]="50"
          [fxFlex.gt-md]="20"
          [fxFlex.gt-sm]="25"
        >
          <h2>Hairstyles</h2>
          <a href="#">Mens Haircuts</a><br />
          <a href="#">Short Hairstyles</a><br />
          <a href="#">Medium Length Hairstyles</a><br />
          <a href="#">Long Hairstyles</a><br />
          <a href="#">Curly Hairstyles</a><br />
          <a href="#">Black Men Hairstyles</a><br />
        </div>
        <div
          [fxFlex.lt-sm]="50"
          [fxFlex.gt-xs]="50"
          [fxFlex.gt-md]="20"
          [fxFlex.gt-sm]="25"
        >
          <h2>Buying Guides</h2>
          <a href="#">Birthday Gifts For Him</a><br />
          <a href="#">Anniversary Gifts For Him</a><br />
          <a href="#">Anniversary Gifts For Her</a><br />
          <a href="#">Mother's Day Gifts</a><br />
          <a href="#">Father's Day Gifts</a><br />
        </div>
        <div fxFlex="100">
          <div fxLayout="row warp" fxLayoutGap="16px grid">
            <div
              [fxFlex.lt-sm]="100"
              [fxFlex.gt-xs]="30"
              [fxFlex.gt-md]="30"
              [fxFlex.gt-sm]="30"
            >
              <img
                style="max-width: 100%; height: auto"
                src="./assets/smalllogo1.png"
                alt="logo"
              />
            </div>
            <div
              [fxFlex.lt-sm]="100"
              [fxFlex.gt-xs]="70"
              [fxFlex.gt-md]="70"
              [fxFlex.gt-sm]="70"
            >
              <span
                >Copyright © 2020 Multiply Media, LLC. All Rights Reserved. The
                material on this site can not be reproduced, distributed,
                transmitted, cached or otherwise used, except with prior written
                permission of Multiply.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="20" [fxFlex.lt-sm]="100">
      <h2>CONNECT WITH US</h2>
      <div>
        <mat-icon>facebook</mat-icon>
      </div>
      <h5>FASHIONBEANS NEWSLETTER</h5>
      <p>
        Sign up to our newsletter to get the latest articles, lookbooks, street
        style & fashion voucher codes direct to your inbox:
      </p>
    </div>
  </div>
</div>
