<mat-toolbar>
  <mat-toolbar-row>
    <div><img id="logo" src="./assets/smalllogo1.png" alt="logi" /></div>
    <div>
      <a href="#">FASHION</a>
      <span style="font-size: 16px" class="material-icons"> expand_more </span>
    </div>
    <div>
      <a href="#">STYLE</a>
      <span style="font-size: 16px" class="material-icons"> expand_more </span>
    </div>
    <div><a href="#">GROOMING</a></div>
    <div>
      <a href="#">HAIR</a>
      <span style="font-size: 16px" class="material-icons"> expand_more </span>
    </div>
    <div><a href="#">STRETT STYLE</a></div>
    <div><a href="#">FIFE STYLE</a></div>
    <div><a href="#">WATCHES</a></div>
    <span class="menu-spacer"></span>
    <button
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="second-nav">
  <div>
    <a href="#">HAIR</a>
    <span style="font-size: 16px" class="material-icons"> expand_more </span>
  </div>
  <div><a href="#">STRETT STYLE</a></div>
  <div><a href="#">FIFE STYLE</a></div>
  <div><a href="#">WATCHES</a></div>
</div>
